<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>background practice</title>
</head>
<body>
<div id="demo">
    <h2>Create a es6Project by webpack and babel </h2>
    <hr/>
    <p>
        渭城朝雨浥轻尘，客舍青青柳色新。劝君更尽一杯酒，西出阳关无故人。这首诗是著名诗人<a class="tooltip" id="tooltip1">王勃</a>的作品。借此来表达自己对友人的依依惜别之意。
    </p>

    <p>
        我喜欢古诗，因为它能给别人更多的理解，想象。古诗是很唯美的，随处可见的美景，比如<a class="tooltip" id="tooltip2">荷花</a>，便有，接天莲叶无穷碧，映日荷花别样红。多美的诗呀！
    </p>
</div>
<div class="background-practice">
    <div class="background-position"></div>
    <div class="background-gradient"></div>
</div>
<div class="animation">
    <div class="animation-box"></div>
</div>
</body>
</html>